<h2>{{ titulo }}</h2>

<h4>Añadir marca</h4>
<p><input type="text" [(ngModel)]="mi_marca"><button (click)="mostrarMarca()">Mostrar marca</button></p>
<p>{{ mi_marca }}</p>
<p><button (click)="addMarca()">Añadir marca</button></p>

<h4>modelo Zapatilla</h4>
<ul *ngFor="let zapatilla of zapatillas; let indice = index">
    <li>
        <span [ngStyle]="{'text-decoration' : !zapatilla.stock ? 'line-through' : 'none'}"> {{ zapatilla.nombre }}</span>

        <ng-template *ngIf="zapatilla.stock; else elseBlock">
            <span *ngIf="zapatilla.precio < 30"
            [style.background] = "zapatilla.precio < 30 ? 'green' : 'transparent'"
            [style.color] = "zapatilla.precio < 30 ? 'white' : 'black'">¡EN OFERTA!</span>
        </ng-template>
        <ng-template #elseBlock>
            &nbsp;<span [ngStyle]="{'background' : 'black', 'color' : 'white'}">Out of Stock</span>      
        </ng-template>
       <!--  <div>Mostrar el index: {{ indice }}</div> -->
    </li>
</ul>

<!-- ngSwitch -->
<p>ngSwitch </p>
<label [style.color]="'purple'">Color </label><input type="text" [(ngModel)]="color"> <label [style.color]="'gray'" [style.font-size]="'12px'"> [yellow, red, blue, orange]</label>
<ul [ngSwitch]="color">
    <li *ngSwitchCase="'yellow'" [ngStyle]="{'background':color}">El color predominante es el amarillo</li>
    <li *ngSwitchCase="'red'" [ngStyle]="{'background':color}">El color predominante es el rojo</li>
    <li *ngSwitchCase="'blue'" [ngStyle]="{'background':color, 'color':'white'}">El color predominante es el azul</li>
    <li *ngSwitchCase="'orange'" [ngStyle]="{'background':color}">El color predominante es el naranja</li>
</ul>

<h6>Marcas disponibles</h6>
    <ul>
        <div *ngFor="let marca of marcas">
            <h6><li>{{ marca }}</li></h6>
        </div>
    </ul>
<h4>modelo productos</h4>

<div *ngFor="let product of products">
    <ul>
        <li>{{ product.name }}</li>
        <li>{{ product.color }}</li>
        <li>
            <span *ngIf="product.tradeable; else elseBlock">SI</span>
            <ng-template #elseBlock>NO</ng-template>
        </li>
    </ul><br>
</div>